.homepage {
    background-color: #c1a9e4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', Arial, sans-serif;
    color: #4b004b;
    font-size: 32px;
    font-weight: 600;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
